{% extends 'unsdg/base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <article>
      {% include 'unsdg/pagination.html' %} 
      <header>
        <h2>UN Country Goals, Targets, Indicators Combined</h2>
      </header>
      <div class="col-sm-1">
        {% if user.is_authenticated %}
          <a class="btn btn-outline-secondary" href="{% url 'country_target_indicator_detail_new' %}">New</a>
        {% endif %}
      </div>

        <div class="row">
        {% if country_target_indicators_list %}
          {% for point in country_target_indicators_list %}
          <!-- safe filter on for raw HTML stored in database -->
          
          <div class="card" style="width: 18rem; margin:1%">
            <div class="card-header" >
                <a href="{% url 'country_target_indicator_detail' point.5 %}"> {{ point.0 | safe }} </a>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ point.1 | safe }}</li>
              <li class="list-group-item">{{ point.2 | safe }}</li>
              <li class="list-group-item">{{ point.3 | safe }}: {{ point.4 | safe }}</li>
            </ul>
          </div>
          {% endfor %}
        {% else %}
        <p>No Country Indicators are available to view.</p>
        {% endif %}
        </div>
      

      <p>page count: {{ country_target_indicators_list.count }}</p>
    </article>
  {% else %}
    <a href="{% url 'login' %}">Log in</a>
  {% endif %}
{% endblock content %}}