{% extends 'unsdg/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete the Indicator Combination for:</p>
    <p> "{{ indicator.target }}"</p>
    <p> "{{ indicator.target.goal }}"</p>
    <p>"{{indicator.indicator_value_type}}</p>
    
    <button type="submit" class="btn btn-outline-danger">Delete</button>
    &nbsp;<a class="btn btn-outline-secondary" href="{% url 'indicator_detail' indicator.pk %}">Cancel</a>
  </form>

  {% endblock content %}

