{% extends 'unsdg/base.html' %}

{% block content %}

<article>
        {% include 'unsdg/pagination.html' %} 
        <header>
          <div class="row">
            <div class="col-sm-11">
              <h2>Millenium Targets</h2>
            </div>
          </div>
        </header>
      
        <p> A series of targets</p>
      
        
      
        {% if target_list %}
        <ul>
      
          {% for target in target_list %} 
      
          <li>{{target.target_name }} </li>

          {% endfor %}
      
      
        </ul>
        {% else %}
        <p>No Targets are available to view.</p>
        {% endif %}
      
        <p>page count: {{ target_list.count }}</p>
      </article>

{% endblock content %}